In [1]:
import pandas as pd
import numpy as np

In [425]:
filename = input("Enter filename for Candy Data with full extension(.xlsx): ")

Enter filename for Candy Data with full extension(.xlsx): CandyData.xlsx

In [426]:
df=pd.read_excel(filename)
print("File reading done...")
print("\n\nBeginning cleanup of data...")

File reading done...


Beginning cleanup of data...

In [427]:
df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers (a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

### Q1:

In [429]:
# field = input("Enter column name you want to clean for %s: "%year)
field='Q1: GOING OUT?'
# field='Are you going actually going trick or treating yourself?'

In [430]:
df[field].fillna('No', inplace=True)

df[field]=df[field].replace('(?i)No',0, regex=True)
df[field]=df[field].replace('(?i)Yes',1, regex=True)

df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers (a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,0,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,0,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,0,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,0,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [431]:
df.shape

(2460, 120)

In [432]:
print("\n\nCleanup of '%s' field done: Unique values in field -"%field)
print(df[field].unique())

Cleanup of 'Q1: GOING OUT?' field done: Unique values in field -
[0 1]

### Q2:

In [433]:
# field = input("Enter column name you want to clean for %s: "%year)
field='Q2: GENDER'
# field='Your gender:'

In [434]:
def sort(s):
    for i in range(1, len(s)):
        temp = s[i]
        j = i - 1
        while j >= 0 and len(temp) < len(s[j]): 
            s[j + 1] = s[j] 
            j -= 1
  
        s[j + 1] = temp

In [435]:
df[field].fillna("I'd rather not say", inplace=True)
genders=df[field].unique()
sort(genders)
genders

array(['Male', 'Other', 'Female', "I'd rather not say"], dtype=object)

In [436]:
for g in genders:
    if len(g)<7:
        df[field]=df[field].replace('(?i)'+g, g, regex=True)
    else:
        df[field]=df[field].replace('(?i)'+g, 'Unspecified', regex=True)

df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers (a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,0,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,0,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,0,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,0,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,0,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [437]:
print("\nCleanup of '%s' field done: Unique values in field -"%field)
print(df[field].unique())

Cleanup of 'Q2: GENDER' field done: Unique values in field -
['Unspecified' 'Male' 'Female' 'Other']

### Q3:

In [438]:
# field = input("Enter column name you want to clean for %s: "%year)
field='Q3: AGE'
# field='How old are you?'

In [439]:
df[field].fillna(999, inplace=True)
x={'int':0,'string':0, 'float':0}
drop_indices=[]

for i in range(df.shape[0]):
    if type(df.loc[i,field])==int:
        x['int']+=1
        if df.loc[i,field]>110:
            df.loc[i,field]=np.nan    
        elif df.loc[i,field]<13:
            drop_indices.append(i)
            
    elif type(df.loc[i,field])==str:
        x['string']+=1
        df.loc[i,field]=np.nan
        drop_indices.append(i)
    elif type(df.loc[i,field])==float:
        x['float']+=1
        df.loc[i,field]=round(df.loc[i,field])
    else:
        print('None')
print(x)
print(drop_indices)

{'int': 2434, 'string': 24, 'float': 2}
[203, 217, 247, 275, 325, 343, 347, 379, 388, 414, 415, 433, 446, 492, 612, 627, 638, 705, 710, 841, 877, 902, 922, 934, 943, 954, 1054, 1146, 1230, 1246, 1256, 1308, 1338, 1371, 1391, 1469, 1479, 1490, 1550, 1551, 1556, 1674, 1845, 1859, 1892, 1928, 2212, 2214, 2294, 2311, 2347, 2364, 2413, 2414, 2449]

In [440]:
df=df.drop(drop_indices, axis=0).reset_index().drop('index',axis=1)

In [441]:
df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers (a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,0,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,0,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,0,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,0,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,0,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [442]:
print("\nCleanup of '%s' field done: Unique values in field -"%field)
print(df[field].unique())

Cleanup of 'Q3: AGE' field done: Unique values in field -
[nan 44 49 40 23 53 33 43 56 64 37 59 48 54 36 45 25 34 35 38 58 50 47 16
 52 63 65 41 27 31 61 46 42 62 29 39 32 28 69 67 30 22 26 51 70 24 18 19
 57 60 66 55 72 21 68 20 71 90 13 99 88 74 102 17 15 75 14 100 76 77 73]

### Q4:

In [443]:
# field=input("Enter Column Name for Country: ")
cfield='Q4: COUNTRY'
# cfield='Which country do you live in?'

In [444]:
# First level of clean up
df[cfield]=df[cfield].fillna('X')
for i in range(df.shape[0]):
    if type(df.at[i,cfield])==int:
        df.at[i,cfield]='X'

In [445]:
countries = df[cfield].unique()
countries

array(['X', 'USA ', 'USA', 'us', 'usa', 'canada', 'Canada', 'Us', 'US',
       'Murica', 'United States', 'uk', 'United Kingdom', 'united states',
       'Usa', 'United States ', 'United staes',
       'United States of America', 'UAE', 'England', 'UK', 'canada ',
       'Mexico', 'United states', 'u.s.a.', 'USAUSAUSA', 'america',
       'france', 'United States of America ', 'U.S.A.', 'finland',
       'unhinged states', 'Canada ', 'united states of america',
       'US of A', 'Unites States', 'The United States', 'Unied States',
       'Netherlands', 'germany', 'Earth', 'U S', 'u.s.', 'U.K. ',
       'Costa Rica', 'The United States of America', 'unite states',
       'U.S.', 'Greece', 'USA? Hard to tell anymore..', 'usas',
       'Pittsburgh', 'United State', 'France', 'australia', 'A', 'Can',
       'Canae', 'Trumpistan', 'Ireland', 'United Sates', 'Korea',
       'Australia', 'California', 'Japan', 'USa', 'South africa',
       'I pretend to be from Canada, but I am really from the United States.',
       'Usa ', 'Uk', 'Iceland', 'Germany', 'Canada`', 'Scotland', 'UK ',
       'Denmark', 'United Stated', 'France ', 'Switzerland', 'UD',
       'Scotland ', 'South Korea', 'New Jersey', 'Indonesia',
       'United ststes', 'America', 'The Netherlands', 'United Statss',
       'endland', 'Atlantis', 'murrika', 'USA! USA! USA!', 'USAA',
       'united States ', 'soviet canuckistan', 'N. America', 'Singapore',
       'USSA', 'Taiwan', 'China', 'Ireland ', 'hong kong', 'spain',
       'Sweden', 'Hong Kong', 'U.S. ', 'CANADA', 'Narnia', 'u s a',
       'United Statea', 'united ststes', 'United kingdom',
       'USA USA USA!!!!', "I don't know anymore"], dtype=object)

In [446]:
usa_list=['usa','u.s.a','u.s.a.','usas','usausausa','usa! usa!','usa!!!!!!','usa usa usa!!!!','usa!','usa! usa! usa!','us of a','u s a','us','ud',
          'u.s','u.s.','u s','usaa','ussa','u.s.a.','usa usa usa','units states','usa usa usa usa',
          'america','murrika','n. america','murica','ahem....amerca','merica''',
          'united states','united stated','united ststes','unite states','unite statea','the united states','united states of america','the united states of america',
          'united staes','unied states','united sates','unites states','united stetes','united state','united statss','united statea','unhinged states','trumpistan','united  states of america',
          'atlanta','california','alaska','new jersey','pittsburgh','the yoo ess of aaayyyyyy','the best one - usa']

uk_list=['uk','u.k','u.k.','u k','united kingdom','united kindom','endland','england','scotland']
canada_list=['canada','canae','can','canada`']
netherland_list=['netherlands','the netherlands']
hk_list=['hong kong']
sa_list=['south africa']
au_list=['australia']
kr_list=['korea','south korea']
sp_list=['espaÃ±a']

nc_list=['earth','narnia','a','subscribe to dm4uz3 on youtube',"i don't know anymore",'soviet canuckistan','fear and loathing','insanity lately','i pretend to be from canada, but i am really from the united states.','usa? hard to tell anymore..','the republic of cascadia','denial',"there isn't one for old men","somewhere","god's country",'eua']

country_dict={'USA':usa_list,'UK':uk_list,'Canada':canada_list,'Netherlands':netherland_list,'South Africa':sa_list,'Australia':au_list,'Hong Kong':hk_list,'South Korea':kr_list,'UAE':['uae'],'Spain':sp_list,'Brazil':['brasil']}

In [447]:
def cleanCountries(country):
    if country!='X':
        for key in country_dict:
            if country.lower().strip() in country_dict[key]:
                return key
        if country.lower().strip() in nc_list:
            return 'X'
        return country.title().strip()
    return country

In [448]:
df[cfield]=df[cfield].apply(cleanCountries)
df[cfield]=df[cfield].replace('X',np.nan)

In [449]:
countriesn = df[cfield].unique()
# sort(countriesn)
countriesn

array([nan, 'USA', 'Canada', 'UK', 'UAE', 'Mexico', 'France', 'Finland',
       'Netherlands', 'Germany', 'Costa Rica', 'Greece', 'Australia',
       'Ireland', 'South Korea', 'Japan', 'South Africa', 'Iceland',
       'Denmark', 'Switzerland', 'Indonesia', 'Atlantis', 'Singapore',
       'Taiwan', 'China', 'Hong Kong', 'Spain', 'Sweden'], dtype=object)

In [450]:
print("\nCleanup of '%s' field done: Unique values in field -"%cfield)
print(df[cfield].unique())

Cleanup of 'Q4: COUNTRY' field done: Unique values in field -
[nan 'USA' 'Canada' 'UK' 'UAE' 'Mexico' 'France' 'Finland' 'Netherlands'
 'Germany' 'Costa Rica' 'Greece' 'Australia' 'Ireland' 'South Korea'
 'Japan' 'South Africa' 'Iceland' 'Denmark' 'Switzerland' 'Indonesia'
 'Atlantis' 'Singapore' 'Taiwan' 'China' 'Hong Kong' 'Spain' 'Sweden']

### Q5:

In [451]:
# field=input("Enter Column Number for State: ")
sfield='Q5: STATE, PROVINCE, COUNTY, ETC'
# sfield='Which state, province, county do you live in?'

In [452]:
df.loc[:,sfield].unique()

array([nan, 'NM', 'Virginia', 'or', 'exton pa', 'Colorado ', 'ontario',
       'Ontario', 'Wa', 'Quebec', 'NY', 'California', 'Texas', 'NEW YORK',
       'CO', 'IN', 'MN', 'aberdeenshire', 'Alberta', 'Wisconsin, 53705',
       'RI', 'NC', 'Scotland', 'minnesota', 'Michigan', 'Florida',
       'New Jersey', 'VA', 'Colorado', 'Los Angeles, California', 'CA',
       'New York ', 'Chicago, Illinois', 'Nj', 'Wisconsin', 'Minnesota ',
       'London', 'mn', 'TEXAS', 'Illinois', 'District of Columbia',
       'Washington', 'Massachusetts ', 'OR', 'Montana', 'New York',
       'massachusetts', 'Abu Dhabi', 'TX', 'Arizona', 'Dc', 'yukon',
       'Pennsylvania ', 'MD', 'Ohio', 'Alberta ', 'OXFORDSHIRE', 'DC',
       'Iowa', 'Mn', 'TN', 'BC', 'Maryland', 'MI', 'Wisconsin ', 'alaska',
       'Ny', 'Colorado, Jefferson county ', 'Louisiana', 'pa',
       'CO, Larimer County', 'Nebraska ', 'Oregon', 'UT', 'ny',
       'Pennsylvania', 'CDMX', 'north carolina', 'Tennessee ', 'Texas ',
       'Knox county, Tennessee', 'New Mexico', 'Maine', 'maine',
       'Virginia, Arlington', 'WA', 'MO', 'Illinois ', 'Mi', 'MA',
       'Alaska', 'New York, NY', 'Il', 'PA', 'New Hampshire ',
       'Washington ', 'Massachusetts', 'Georgia', 'IL', 'Oregon ',
       'Washington, Clark ', 'NE', 'Oklahoma', 'SC', 'Nebraska', 'mi',
       'Nevada', 'va', 'California ', 'vancouver, bc',
       'Oregon - but will be in Washington for Halloween', 'Ri',
       'Washington, King', 'Ca', 'wa', 'md', 'new york', 'Rhode island',
       'VT, Chittenden', 'North Carolina', 'pennsylvania', 'PEnnsylvania',
       'Alabama', 'GA', 'FL, Orange County', 'Nope', 'manitoba',
       'colorado', 'california ', 'South Carolina', 'california',
       'Baja California', 'illinois', 'Santa Cruz County, California',
       'MARYLAND', 'NJ', 'North Dakota',
       'Pennsylvania, Montgomery County', 'Astoria NY', 'Michigan ', 'ca',
       'Kansas ', 'sk', 'Missouri', 'Oxfordshire', 'West Virginia',
       'Harris County, Texas', 'ohio', 'nc', 'Minnesota', 'Bc', 'ma',
       'oregon', 'philadelphia', 'Kentucky', 'HI', 'South Holland',
       'Derbyshire', 'hesse', 'Massachusetts, Plymouth county', 'hi',
       'Cali', 'vt', 'CA, Alameda', 'Utah', 'FL',
       'Michigan, Shiawassee County', 'Newfoundland', 'Indiana',
       'wisconsin', 'Idaho ada', 'La', 'Hawaii', 'California, Alameda',
       'Az', 'VT', 'AZ', 'Sub Earth', 'North dakota', 'virginia', 'Ga',
       'alameda county, california', 'Greater London', 'bc', 'nm', 'AB',
       'WV, Kanawha County ', 'michigan', 'Florida ', 'tx',
       'Washington State', 'Sussex', 48, 'Washington, King County',
       'San Jose', 'florida', 'Connecticut', 'New Jersey ', 'Orlando, FL',
       'ON', 'Saskatchewan', 'South Carolina ', 'texas', 'newfoundland',
       'mississippi', 'Oklahoma ', 'washington', 'Manitoba ',
       'Manchester', 'in', 'rhode island', 'Ohio ', 'Pa', 'FL ', 'Ut',
       'CT', 'connecticut', 'British Columbia ', 'Nunya, Bizness, USA',
       'OH', 'Washington state', 'Oakland, California',
       'Washington, Seattle, king', 'Ontario,  Canada', 'ri',
       'phoenix, maricopa county, arizona', 'NS',
       'Washington state, Kitsap County', 'oakland,ca', 'QC', 'USA',
       'Missouri ', 'Pittsburgh pa', 'Issaquah, WA, King County ',
       'Washington, seattle, king', 'Massachussets ',
       'Whatcom County, WA', 'Mt', 'NH', 'Michigin', 'Ma', 'KS',
       'Oakland County, Michigan', 'Albeqrrta', 'Marne', 'Noord-Holland',
       'Tennessee, Knox County', 'Henrico, VA',
       'Washington State, King County, City of Seattle', 'Washington, DC',
       'nyc', 'Brooklyn', 'qld', 'Santa Barbara co. California',
       'Maryland ', 'Ky', 'New Orleans la ', 'colorado, boulder', 'mo',
       'COLORADO', 'Nh', 'Greater Manchester', 'Fife, Scotland', 'A',
       'Co', 'Kalamazoo County, MI', 'OREGON', 'Wi', 'Ontario ', 'wv',
       'ulster county, NY', 'NJ, Gloucester', 'calif', 'tn', 'MS', 'NB',
       'Vermont', 'Kildare', 'Vermont ', 'ND', 'tennessee',
       'Washington DC', 'Kings, New York ', 'Cook', 'Toronto, Ontario',
       'Victoria', 'Virginia ', 'On', 'nova scotia', 'Tehama',
       'suffolk county ny', 'Santa Clara County, California', 'louisiana',
       'SD', 'Md', 'Missoure', 'IA', 'Colorado larimer county', 'Tokyo',
       'New Mexico, USA', 'ont', 'Califor', 'Idaho', 'Kansas', 'NV',
       'Brooklyn, kings county ny', 'King County, Washington', 'WI',
       'Washington, Island county', 'KwaZulu-Natal', 'Carver county, MN',
       'DUTCHESS COUNTY NY', 'Ny ', 'Wyoming ', 'Bristol ',
       'british columbia', 'California, San Francisco',
       'Glendora, Los Angeles, California', 'Edinburgh', 'Strathclyde',
       'Lancasire', 'Ã˜rbÃ¦k', 'pr', 'Idf', 'Zuid Holland', 'Osaka',
       'Surrey', 'Northern ireland', 'Vaud', 'Arizona ', 'Nova Scotia',
       'az', 'Midlothian', 'Tennessee', 'Durham County, North Carolina',
       'Missouri, Miller County', 'Glasgow ', 'ct',
       'Cuyahoga County, Ohio', 'Seoul', 'Canada', 'Kanagawa ',
       'The Shore', 'Manitoba', 'MD ', 'Devonshire', 'Utah ', 'Tx.',
       'maryland', 'PENNSYLVANIA', 'Jakarta', 'kansas',
       'Mannheim, Baden-WÃ¼rttemberg ', 'Wyoming', 'Rotterdam', 'Ar',
       'Arkansas', 'renton,wa ', 'N-Brabant', 'missouri', 'Georgia ',
       'Greifswald', 'ar', 'British Columbia, Canada', 'kent', 'Hessen',
       'NOYB', 'New york', 'South Dakota', 'British Columbia',
       'Emerald City, Petrolia', 'New York, New York', 'wa, spokane',
       'new york ', 'Buncombe County, North Carolina',
       'California, San Diego', 'new hampshire',
       'California, Ventura County', 'NY, Tompkins County', 'Nj ',
       'Arlington, VA', 'Glasgow', 'kentucky', 'alberta', 'Philadelphia',
       'Portland, maine', 'sc', 'nh', 'NSW', 'califormia', 'New jersey',
       'montana', 'indiana ', 'Mexico city', 'GA - Georgia', 'il', 'WV',
       'Oregon, Multnomah County', 'Vancouver, Wa', 'Nc', 'Atlanta, GA',
       'Washington state ', 'Singapore', 'Kentucky ', 'west virginia',
       'North carolina', 'KY', 'United States', 'Mo', 'Colorado (CO)',
       'Fl', 'wyoming', 'Nm', 'Dona Ana county, New Mexico',
       'UT, Salt Lake', 'Ks',
       'California, Contra Costa County, Pleasant Hill', 'Vt',
       'Monroe county', 'Hong Kong', 'Washingto', 'Dublin ',
       'California, Mendocino County', 'na', 'madrid', 'Hesse',
       'Noord-Brabant', 'Skane', 'ZÃ¼rich', 'Tree Town, USA',
       'New Hampshire', 'Philadelphia, PA',
       'Bristol County, Rhode Island', 'georgia',
       'Newfoundland and Labrador', 'Dublin', 'Oshawa, Ontario, Canada',
       'NL', 'DC ', 'oklahoma', 'NJ; Essex', 'Va', 'Delaware', 'Mich',
       'Ia', 'ONTARIO', 'QuÃ©bec', 'orange county, ca', 'BERKELEY, CA',
       'California, USA', 'NYC', 'St. Louis County, Missouri', 'Munster',
       'Chicago, IL', 'Philadelphia PA', 'Rappahannock County, VA', 'OK',
       'Chicago, IL ', 'Mexico City', 'dc', 'Illinois  ', 'WASHINGTON DC',
       'Tn', 'Connecticut ', 'ill', 'Idaho ', 'Stockholm',
       'New York County, New York City, New York State', 'Chicago',
       'West Yorkshire', 'Berlin', 'arlington, va',
       'Alaska, Matanuska-Susitna Borough', 'utah', 'Marietta, GA',
       'Northbrook, IL', 'delaware', 'Tx', 'Ont',
       'Northampton County, PA', 'Rhode Island',
       'Pa.   Northampton county', 'California, San Diego county',
       'Bloomington, IN', 'indiana', 'Quenec', 'Londom', 'nj',
       'st. augustine florida', 'illinois ', 'iowa',
       "The Democratic People's Republic of North Carolina", 'SC ',
       'pennsylvania, northampton couny, easton', 'St Louis mo', 'mt',
       'quÃ©bec'], dtype=object)

In [453]:
state_list={"AL":"Alabama","AK":"Alaska","AS":"American Samoa","AZ":"Arizona","AR":"Arkansas","CA":"California","CO":"Colorado","CT":"Connecticut","DE":"Delaware","DC":"Dist of Columbia","FL":"Florida","GA":"Georgia","GU":"Guam","HI":"Hawaii","ID":"Idaho","IL":"Illinois","IN":"Indiana","IA":"Iowa","KS":"Kansas","KY":"Kentucky","LA":"Louisiana","ME":"Maine","MD":"Maryland","MA":"Massachusetts","MI":"Michigan","MN":"Minnesota","UM":"Minor Outlying Islands","MS":"Mississippi","MO":"Missouri","MT":"Montana","NE":"Nebraska","NV":"Nevada","NH":"New Hampshire","NJ":"New Jersey","NM":"New Mexico","NY":"New York","NC":"North Carolina","ND":"North Dakota","MP":"Northern Mariana Islands","OH":"Ohio","OK":"Oklahoma","OR":"Oregon","PA":"Pennsylvania","PR":"Puerto Rico","RI":"Rhode Island","SC":"South Carolina","SD":"South Dakota","TN":"Tennessee","TX":"Texas","UT":"Utah","VT":"Vermont","VA":"Virginia","VI":"U.S. Virgin Islands","WA":"Washington","WV":"West Virginia","WI":"Wisconsin","WY":"Wyoming"}

In [454]:
for i in range(df.shape[0]):
    if type(df.at[i,sfield])!=str:
        if df.at[i,cfield]=='USA':
            df.at[i,sfield]='Unspecified - US'
        else:
            df.at[i,sfield]='Unspecified - Non US'
            
        if len(df.at[i,sfield])==2:
            df.at[i,sfield]=df.at[i,sfield].upper()

In [455]:
def mapStates(state):

    for key in state_list:
        if state.lower().strip()==key or state_list[key] in state.title().strip() or key in state.upper():
            return key.upper()
        
    return state

In [456]:
df[sfield]=df.loc[:,sfield].apply(mapStates)

In [457]:
df[sfield].unique()

array(['Unspecified - Non US', 'NM', 'IN', 'OR', 'PA', 'CO', 'AR', 'WA',
       'Quebec', 'NY', 'AL', 'AS', 'NE', 'MN', 'DE', 'RI', 'NC', 'GA',
       'FL', 'VA', 'CA', 'NJ', 'ND', 'IL', 'MO', 'Abu Dhabi', 'TX', 'AZ',
       'DC', 'yukon', 'IA', 'MD', 'HI', 'TN', 'BC', 'MI', 'UT', 'CDMX',
       'MA', 'LA', 'SC', 'Nope', 'AK', 'Unspecified - US', 'sk', 'Bc',
       'KY', 'hesse', 'VT', 'ID', 'bc', 'AB', 'Sussex', 'San Jose', 'ON',
       'CT', 'OH', 'NS', 'QC', 'USA', 'MT', 'NH', 'KS', 'OK', 'qld', 'A',
       'WI', 'WV', 'MS', 'NB', 'On', 'SD', 'ont', 'NV', 'Ã˜rbÃ¦k', 'PR',
       'Surrey', 'Seoul', 'Rotterdam', 'N-Brabant', 'kent', 'Hessen',
       'NOYB', 'NSW', 'United States', 'Hong Kong', 'na', 'Hesse',
       'Tree Town, USA', 'NL', 'QuÃ©bec', 'Munster', 'Stockholm', 'Ont',
       'quÃ©bec'], dtype=object)

In [458]:
drop_rows=[]
found_state=False
for i in range(df.shape[0]):
    if (len(df.loc[i,sfield])==2 and df.loc[i,sfield].isupper()) or (df.loc[i,sfield].startswith('Unspecified')):
        continue
    else:
        
        if df.loc[i,sfield].lower().strip() in usa_list and df.loc[i,cfield]=='USA':
            df.loc[i,sfield] = 'Unspecified - US'
        elif df.loc[i,cfield]!='USA':
            drop_rows.append(i)
        else:
            df.loc[i,sfield]=np.nan
#         elif(',' in df.loc[i,sfield]):
#             tokens=df.loc[i,sfield].split(',')
#             for token in tokens:
#                 if token.lower().strip() in usa_list:
#                     df.loc[i,sfield] = 'Unspecified - US'
#                     found_state=True
#             if found_state!=True:
#                 drop_rows.append(i)
#         elif(len(df.loc[i,sfield])!=2) or ~(df.loc[i,sfield].startswith('Unspecified')):
#             drop_rows.append(i)

In [459]:
for i in drop_rows:
    df.loc[i,sfield]='Unspecified - Non US'

In [460]:
print("\nCleanup of '%s' field done: Unique values in field -"%sfield)
print(df[sfield].unique())

Cleanup of 'Q5: STATE, PROVINCE, COUNTY, ETC' field done: Unique values in field -
['Unspecified - Non US' 'NM' 'IN' 'OR' 'PA' 'CO' 'AR' 'WA' 'NY' 'AL' 'AS'
 'NE' 'MN' 'DE' 'RI' 'NC' 'GA' 'FL' 'VA' 'CA' 'NJ' 'ND' 'IL' 'MO' 'TX'
 'AZ' 'DC' 'IA' 'MD' 'HI' 'TN' 'BC' 'MI' 'UT' 'MA' 'LA' 'SC' 'AK'
 'Unspecified - US' 'KY' 'VT' 'ID' 'AB' 'ON' 'CT' 'OH' 'NS' 'QC' 'MT' 'NH'
 'KS' 'OK' 'WI' 'WV' 'MS' 'NB' 'SD' 'NV' 'PR' nan 'NL']

### Q6:

In [461]:
# start=int(input("Enter starting column number for Candy data: "))
# end=int(input("Enter ending column number for Candy data: "))

start=6
end=109

In [462]:
df.shape

(2405, 120)

In [463]:
drop_records=[]
for i in range(df.shape[0]):
    if df.iloc[i,start:end].isnull().values.all():
        drop_records.append(i)

df.drop(drop_records, inplace=True)

In [464]:
df.iloc[874,start:end].isnull().values.all()

False

In [465]:
df.shape

(1759, 120)

In [466]:
print("\nRecords dropped where no value for candy ratings...")

Records dropped where no value for candy ratings...

### Q7:

In [467]:
df=df.replace('DESPAIR',0)
df=df.replace('MEH',0.5)
df=df.replace('JOY',1)
df=df.replace('',np.nan)

In [470]:
print("\nScores assigned to Despair, Meh, Joy ratings...")

Scores assigned to Despair, Meh, Joy ratings...

### Q8, Q9:

In [471]:
df.iloc[:,end]=df.iloc[:,end].apply(lambda x: x[:250] if type(x)==str else np.nan)
df.iloc[:,end+1]=df.iloc[:,end+1].apply(lambda x: x[:250] if type(x)==str else np.nan)
df.iloc[:,end+2]=df.iloc[:,end+2].apply(lambda x: x[:250] if type(x)==str else np.nan)

In [472]:
print("\nCleanup of comment columns done...")

Cleanup of comment columns done...

In [473]:
df_final=df.iloc[:,:(end+3)]
df_final.to_csv("output.csv", index=False)

In [474]:
print("----------------------------------------End of cleanup----------------------------------------")
print("Output generated at output.csv")
print()
print("----------------------------------------End of script----------------------------------------")

----------------------------------------End of cleanup----------------------------------------
Output generated at output.csv

----------------------------------------End of script----------------------------------------

In [475]:
df_final.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers (a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q6 | Twix,"Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein",Q6 | Vicodin,Q6 | Whatchamacallit Bars,Q6 | White Bread,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS
1,90272821,0,Male,44.0,USA,NM,0.5,0.0,1.0,0.5,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Mounds,NaN,Bottom line is Twix is really the only candy w...
3,90272840,0,Male,40.0,USA,OR,0.5,0.0,1.0,0.5,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,Raisins can go to hell
4,90272841,0,Male,23.0,USA,PA,1.0,0.0,1.0,0.0,...,1.0,0.5,1.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN
5,90272852,0,Male,NaN,NaN,Unspecified - Non US,1.0,0.0,1.0,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN
7,90272854,0,Male,33.0,Canada,AR,1.0,0.0,1.0,0.0,...,1.0,1.0,0.5,0.0,0.0,0.0,0.0,using my elbows to get in front of the little ...,when the little kids get the big chocolate bar...,"first person to give out cans of beer, wins"

### Steps to Import Data into Database:

1. Run Create_Candy_Table.sql to create tables.
2. Choose CANDY_DATA table and select "Import".
3. Choose the output.csv file.
4. Click "Next" three times to reach the screen choosing the columns - there will be errors on datatypes etc.
5. Select "Position" on the Match By drop-down at the top of the window.
6. Verify there are no errors and click Next.
7. Finish to see the import process starting.

### <div align="center">The End</div>