# SQLite Task

In [17]:
import logging
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

logging.basicConfig(filename="4DByD-2/jupyter.log", format='start %(asctime)s %(message)s',level=logging.DEBUG)

In [18]:
import pandas as pd

class A(pd.DataFrame):    
    @property
    def foo(self):
        return 1 / 0

    @property
    def bar(self):
        return self.i_dont_exist

In [35]:
try:
    a = A()
except:
    logging.exception('Got exception on main handler');
    raise

In [34]:
logging.info("NEW Tester::::::::::::")

# logging.error("error")

try:
    x=9
    b=x/0
except:
    logger.exception("Got exception on main handler")

In [36]:
try:
    a.bar
except:
    logging.exception('Got exception on main handler')
    raise

AttributeError: 'A' object has no attribute 'i_dont_exist'

In [37]:
import pandas as pd
try:
    df = pd.DataFrame({'value': [1, 2]}, index=[pd.Timestamp('2019-01-01'), pd.Timestamp('2019-01-01')])
    df = df.drop(df[df['value'] > 10].index)
except:
    logging.exception('Got exception on main handler')
    raise

TypeError: 'NoneType' object is not iterable

## Part 1 - Setting up the environment

### Installing SQLite

1. Go to the https://sqlite.org/download.html.

2. Download the zip file containing Precompiled Binaries for your OS.

3. Unzip the downloaded file. It should containg three following executables:
   - sqlite3
   - sqldiff 
   - sqlite3_analyzer

4. Put these files in folder:
   - Mac OS - &lt;home&gt;/sqlite, where &lt;home&gt; denotes your HOME directory
   - Windows - C:/sqlite 

5. Add the folder from Step 4 to the PATH.
   - Mac OS - Run the command: export PATH=$PATH:&lt;home&gt;/sqlite
   - Windows - Use Settings and change the Environment Variables.

### Installing DB Browser for SQLite

1. Go to the https://sqlitebrowser.org/dl/.
2. Download the installer for your OS and follow the installer.

### Getting the database Chinook

1. Go to the http://www.sqlitetutorial.net/sqlite-sample-database/.
2. Follow the link *Downoload the SQLite sample database* on the page.
3. This will download archive with the database. Unzip the file to get `chinook.db` file.
4. Create the directory `db` inside the directory:
   - Mac OS - &lt;home&gt;/sqlite, where &lt;home&gt; denotes your HOME directory
   - Windows - C:/sqlite <br>
and put the file `chinook.db` in it.

## Part 2 - Open the database in three different ways

### 1. Use the DB Browser for SQLite

1. Open the DB Browser for SQLite
2. Click the `Open Database` in the left upper corner.
3. Choose the `chinook.db` file and click `Open`.
4. Under the `Database Structure` you can see the list of the tables and expand any of the table names to get the list and the data types of the fields in that table, as well as other details such as: is the field the part of the primary key or is it nullable.
5. Under the `Browse Data` you can see the data stored in the database. Take a screenshot of the content of the table
    `media_types` from the database. Insert the screenshot in the cell provided below.
6. Under the `Execute SQL` type a simple query that will just return the content of the table `media_types` and execute it. Insert the screenshot with the result of the query in the cell provided below.

### Screenshot for the Step 5
Write: `![title](<image_name>)` with the appropriate image name in the cell below and execute it.

![title](MediaTypes.PNG)

### Screenshot for the Step 6
Write: `![title](<image_name>)` with the appropriate image name in the cell below and execute it.

![title](MediaTypeQueryOutput.PNG)

### 2. Use the command line to open the database

1. Open the `Terminal`.
2. Go to the directory where your SQLite installation is.
   - Mac OS - &lt;home&gt;/sqlite, where &lt;home&gt; denotes your HOME directory
   - Windows - C:/sqlite 
3. Run the command: `sqlite3 db/chinook.db`. This will establish the connection with the database.  
4. Run the command: `.tables`. This will output the list of tables in the database. Take a screenshot of this list and insert it in the cell provided below.
5. Run the command containing the SQL query that returns the content of the table `media_types`. Insert the screenshot with the result of the query in the cell provided below.

### Screenshot for the Step 4
Write: `![title](<image_name>)` with the appropriate image name in the cell below and execute it.

![title](Tables.png)

### Screenshot for the Step 5
Write: `![title](<image_name>)` with the appropriate image name in the cell below and execute it.

![title](SelectMedia.png)

### 3. Use the Jupyter Notebook with Python

In [ ]:
# Import sqlite3 module
import sqlite3

In [ ]:
# Connect to the chinook database
db=sqlite3.connect("/Users/subhayuchakravarty/sqlite/db/chinook.db")

In [ ]:
cursor = db.cursor()
cursor.execute('''DROP TABLE tracks_S ''')
db.commit()

In [ ]:
# Write a query to list the contents of the table media_types and execute it.
# TODO 
# Your code goes here.
cursor.execute('''SELECT * FROM media_types ''')
all = cursor.fetchall()

for pl in all:
    print(pl)

## Writing SQL code

## Create statement

Create a table that has the same list of columns like the table `tracks`.

In [ ]:
# TODO 
cursor.execute('''
    CREATE TABLE "tracks_S"(
    TrackId INTEGER PRIMARY KEY,
    Name NVARCHAR(200)  NOT NULL,
    AlbumId INTEGER,
    MediaTypeId INTEGER  NOT NULL,
    GenreId INTEGER,
    Composer NVARCHAR(220),
    Milliseconds INTEGER  NOT NULL,
    Bytes INTEGER,
    UnitPrice NUMERIC(10,2)  NOT NULL,
    FOREIGN KEY ([AlbumId]) REFERENCES "albums" ([AlbumId]) ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([GenreId]) REFERENCES "genres" ([GenreId])  ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([MediaTypeId]) REFERENCES "media_types" 
)
''')

## Insert statement

Fill this table `tracks_S` with the rows from the table `tracks` in which the name of the attribute composer starts with letter 'S'.

In [ ]:
# TODO
cursor.execute('''SELECT * FROM tracks ''')
allTracks = cursor.fetchall()

cursor.executemany(''' INSERT INTO tracks_S(TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, UnitPrice) VALUES(?,?,?,?,?,?,?,?,?)''', allTracks)
db.commit()

In [ ]:
# List the content of the table tracks_S after insertion
cursor = db.cursor()
cursor.execute('''SELECT * FROM tracks_S''')
all = cursor.fetchall()
for pl in all:
    print(pl)

## Update statement

Update the row of the table `tracks_S` with `trackId` 36, by setting the attribute `Miliseconds` to value 300000.

In [ ]:
# TODO
cursor.execute('''UPDATE tracks_S SET Milliseconds = ? WHERE TrackId = ? ''',
 (300000, 36)) 
db.commit()

In [ ]:
# List the content of the table tracks_S after insertion
cursor = db.cursor()
cursor.execute('''SELECT * FROM tracks_S''')
all = cursor.fetchall()
for pl in all:
    print(pl)

## Delete statement

Delete the rows from the table `tracks_S` in which the value of `AlbumId` is greater than 200.

In [ ]:
# TODO 
cursor.execute('''DELETE FROM tracks_S WHERE AlbumId > 200 ''') 
db.commit()

In [ ]:
# List the content of the table tracks_S after insertion
cursor = db.cursor()
cursor.execute('''SELECT * FROM tracks_S''')
all = cursor.fetchall()
for pl in all:
    print(pl)

## Query a database: SELECT with JOIN
Write a query that lists all the tracks from the database. The result should contain the following columns
* name of the track
* title of the album
* name of the genre
* name of the artist

Print the results of the query.

In [ ]:
# TODO 
cursor.execute('''SELECT t.Name as TrackName, a.Title, g.Name as Genre, t.Composer FROM tracks t JOIN genres g on t.GenreId=g.GenreId
 JOIN albums a on a.AlbumId=t.AlbumId ''') 
allTracksJoin = cursor.fetchall()
for pl in allTracksJoin:
    print(pl)

## Query a database: GROUP BY statement
Write a query that counts how many tracks of each genre are present in the table `tracks`. The result should contain following columns:
* GenreId
* Name of the genre
* the number of tracks of that genre in the database.

Print the results of the query.

In [ ]:
# TODO 
cursor.execute('''SELECT t.GenreId, g.Name as GenreName, count(1) as Count FROM tracks t JOIN genres g on t.GenreId=g.GenreId
 group by g.GenreId, g.Name''') 
GenreCount = cursor.fetchall()
for pl in GenreCount:
    print(pl)

Deleting the created table and closing the database connection.

In [ ]:
# Uncomment the following two lines if you want to delete table tracks_S from your database.

cursor.execute('''DROP TABLE tracks_S''')
db.commit()

In [ ]:
db.close()